* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-color: black; */
  display: flex;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  width: 100%;
  height: 531px;
  left: 0px;
  top: 114px;
  background-color: #333333;
}

.ultimate {
  position: absolute;
  width: 237px;
  height: 36px;
  left: 20px;
  top: 69px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* or 138% */

  letter-spacing: 2.8px;

  color: #ffffff;
}

.base {
  position: absolute;
  width: 314px;
  height: 120px;
  left: 20px;
  top: 110px;

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  letter-spacing: -1.2px;

  color: #ffffff;
}

.take {
  position: absolute;
  width: 216px;
  height: 60px;
  left: 20px;
  top: 300px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;

  background-color: #bead8e;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #ffffff;
  border: 1px solid #bead8e;
}

.learn {
  position: absolute;
  width: 216px;
  height: 60px;
  left: 20px;
  top: 380px;

  /* Inside auto layout */
  background-color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;

  text-decoration: none;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #ffffff;
  border: 1px solid white;
}

.rectangle10 {
  position: absolute;
  width: 100%;
  height: 531px;
  left: 0px;

  display: flex;
  flex-direction: column;

  /* left: 0px; */
  top: 644px;
  background-color: #222222;
}

.inputs {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 20px;
  top: 30px;
  gap: 30px;
}

.inputRectangle {
  margin-top: 15px;
}

.titleRectangel10 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

.calendar {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.inputRectangle {
  background-color: #222222;
  text-decoration: none;
  border-bottom: 3px solid #bead8e;
  height: 30px;
}

.departure {
  /* margin-top: 15px; */
}

.check {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 20px;
  top: 250px;
  background-color: #bead8e;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #ffffff;
}

.separator {
  width: 100%;
  height: 60px;
  display: block;
}

.rectangle18 {
  position: absolute;
  width: 100%;
  height: 610px;
  left: 0px;
  top: 1060px;

  background-color: #f9f9f9;
}

.aboutUs {
  position: absolute;
  width: 100px;
  height: 18px;
  left: 20px;
  top: 38px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  text-align: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #777777;
}

.discover {
  position: absolute;
  width: 325px;
  height: 120px;
  left: 20px;
  top: 88px;
  display: flex;
  justify-content: flex-start;
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  text-align: center;
  letter-spacing: -1.2px;

  color: #111111;
}

.lorem {
  position: absolute;
  width: 335px;
  height: 127px;
  left: 30px;
  top: 280px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #777777;
}

.book {
  position: absolute;
  width: 216px;
  height: 60px;
  left: 30px;
  top: 460px;
  border: 0px;
  background-color: #bdac8d;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #ffffff;
}

.resortLuxury {
  width: 100%;
}

.resort {
  position: absolute;
  top: 1630px;
  left: 52px;
  width: 270px;
  height: 300px;
  background-image: url(./../img/resort-02.jpg);
  background-size: cover;
}

.team {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 1930px;
  /* left: 52px; */
  /* background-color: aqua; */
  left: 0;
}

.teamIcon {
  position: absolute;
  left: 40%;
  right: 0%;
  top: 10%;
  bottom: 0.08%;
}

.strong {
  position: absolute;
  width: 160px;
  height: 30px;
  left: 28%;
  top: 100.5px;

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height, or 100% */

  letter-spacing: -0.9px;

  color: #111111;
}

.ipsum {
  position: absolute;
  width: 199.5px;
  height: 77.17px;
  left: 23%;
  top: 184.5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  color: #111111;
}

.luxury {
  position: absolute;
  top: 2230px;
  left: 52px;
  width: 270px;
  height: 300px;
  background-image: url(./../img/luxury-hotel.jpg);
  background-size: cover;
}

.luxuryRoom {
  position: absolute;
  width: 270px;
  height: 300px;
  left: 52px;
  top: 2530px;

  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.luxyCal {
  margin-top: 40px;
  width: 46.81px;
  height: 50.06px;
}

.luxuryRooms {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: -0.9px;

  color: #ffffff;
}

.dolo {
  width: 199.5px;
  height: 77.17px;
  left: 35.5px;
  top: 184.5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  color: #ffffff;
}

.pikedRooms {
  position: absolute;
  top: 2850px;
}

.rooms {
  position: absolute;
  width: 66px;
  height: 15px;
  left: 147px;
  /* top: 2858px; */
  margin-top: -12px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #777777;
}

.hand {
  position: absolute;
  width: 335px;
  height: 120px;
  left: 20px;
  margin-top: -55px;
  /* top: 2397px; */

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  text-align: center;
  letter-spacing: -1.2px;

  color: #222222;
}

.roomsIcons {
  display: flex;
  gap: 10px;
  position: absolute;
  width: 256px;
  height: 40px;
  left: 100px;
  top: 3080px;

  background: #ffffff;
  box-shadow: 0px 8px 16px 5px rgba(138, 138, 138, 0.05);
}

.roomIcon {
  width: 20px;
  height: 20px;
}

.photos {
  position: absolute;
  top: 3100px;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

.slice {
  background-image: url(./../img/luxury-hotel-slice.jpg);
  background-size: cover;
  /* width: 370px; */
  height: 244px;
  /* margin-left: 10px; */
}

.b-slice {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 120px;
  left: 10px;
}

.b-slice-b {
  width: 32px;
  height: 32px;
  background-color: #bdac8d;
  border: none;
  position: absolute;
  top: 120px;
  left: 330px;
}

.arrow {
  width: 10px;
  height: 10px;
}
*/ .rectangle23 {
  position: absolute;
  width: 335px;
  height: 215px;
}

.test {
  width: 100%;
}

.rectangle23 {
  position: absolute;
  width: 335px;
  height: 245px;
  left: 28px;
  top: 3330px;
  background: #ffffff;
}

.minimal {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  letter-spacing: -1.2px;

  color: #222222;

  margin-left: 35px;
}

.latin {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-align: center;

  color: #777777;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.night {
  margin-top: 20px;
  margin-left: 125px;
}

.meet {
  position: absolute;
  width: 100%;
  height: 920px;
  left: 0px;
  top: 3574px;

  background: #222222;
}

.video {
  position: absolute;
  width: 150px;
  height: 15px;
  left: 15px;
  top: 64px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #bdac8d;
}

.meetWith {
  position: absolute;
  width: 335px;
  height: 180px;
  left: 20px;
  top: 80px;

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  letter-spacing: -1.2px;

  color: #ffffff;
}

.loremIpsum {
  position: absolute;
  width: 335px;
  height: 123px;
  left: 20px;
  top: 347px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #c2c2c2;
}

video {
  position: absolute;
  top: 500px;
  width: 335px;
  height: 270px;
  margin-left: 30px;
}

.book-now {
  position: absolute;
  width: 216px;
  height: 60px;
  left: 30px;
  top: 800px;
  border: none;
  background: #bdac8d;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #ffffff;
}

.facilities {
  position: absolute;
  top: 4530px;
  left: 140px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #777777;
}

.core {
  position: absolute;
  top: 4530px;
  left: 35px;
  width: 326px;

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  /* identical to box height, or 107% */

  letter-spacing: -1.2px;

  color: #222222;
}

.rating {
  width: 100%;
  height: 370px;
  position: absolute;
  top: 4680px;
  /* left: 250px; */
}

.ceroTow {
  display: none;
}

.ceroThree {
  display: none;
}

.ceroFour {
  display: none;
}

.ceroFive {
  display: none;
}

.ceroSix {
  display: none;
}
.ceroOne {
  position: absolute;
  left: 230px;
}

.hand {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 20px;
  top: 80px;
}

.high {
  position: absolute;
  width: 221px;
  height: 30px;
  left: 35.71px;
  top: 188.94px;

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height, or 100% */

  letter-spacing: -0.9px;

  color: #222222;
}

.amet {
  position: absolute;
  width: 250px;
  height: 79.8px;
  left: 38px;
  top: 247px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #777777;
}

.donut {
  position: absolute;
  width: 114.5px;
  height: 114.5px;
  left: 250px;
  top: 5150px;
}

.menu {
  position: absolute;
  width: 52px;
  height: 15px;
  left: 25px;
  top: 5280px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;

  color: #777777;
}

.foodsMenu {
  position: absolute;
  width: 335px;
  height: 120px;
  left: 20px;
  top: 5280px;

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */

  letter-spacing: -1.2px;

  color: #222222;
}

.dishImg {
  /* position: absolute; */
  width: 120px;
  height: 120px;
  left: 0px;
  top: 0px;
}

.eggs {
  display: flex;
  position: absolute;
  top: 5500px;
  left: 20px;
  gap: 30px;
}

.dishDescriptionT {
  position: absolute;
  top: -25px;
  width: 150px;
  /* margin-bottom: 20px; */

  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  letter-spacing: -0.72px;

  color: #222222;
}

.dishDescription {
  position: absolute;
  top: 20px;
  width: 185px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #222222;
}

.tea {
  display: flex;
  position: absolute;
  top: 5650px;
  left: 20px;
  gap: 10px;
}

.teacof {
  margin-left: 150px;
}

.chia {
  display: flex;
  position: absolute;
  top: 5800px;
  left: 20px;
  gap: 10px;
}

.forFood {
  position: absolute;
  top: 5950px;
  left: 270px;
}

.forF {
  width: 36px;
  height: 36px;
  border: none;
  margin-right: 17pxpx;
}

.forFoo {
  width: 36px;
  height: 36px;
  border: none;
  background-color: #bead8e;
}

.toDaBottom {
  position: absolute;
  top: 6050px;
  width: 335px;
  height: 335px;
}

.black {
  position: absolute;
  width: 100%;
  height: 1020px;
  left: 0px;
  top: 6500px;

  background-color: #222222;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.rockt84 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.rocket {
  width: 78px;
  height: 80px;
}

@media only screen and (min-width: 1000px) {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-width: 320px;
    width: 100%;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
  }
  .rectangle2 {
    width: 100%;
    width: 100%;
    height: 700px;
  }

  .ultimate {
    width: 340px;
    height: 15px;
    margin-left: 275px;
  }

  .base {
    width: 661px;
    margin-left: 270px;
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 130px;
    /* or 108% */

    letter-spacing: -3.6px;

    color: #ffffff;
  }

  .take {
    position: absolute;
    width: 216px;
    height: 60px;
    left: -80px;
    top: 517px;

    background: #bead8e;
    margin-left: 375px;
  }

  .learn {
    position: absolute;
    width: 216px;
    height: 60px;
    left: 275px;
    top: 517px;
    border: 2px solid rgba(255, 255, 255, 0.33);
    background: #333333;
    margin-left: 375px;
  }

  .rectangle10 {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 815px;
    width: 100%;

    height: 152px;
    right: 0;
  }

  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrival {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 270px;
    top: 0.1px;
  }

  .departure {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 650px;
    top: 0.1px;
  }

  .check {
    /* position: absolute;
    width: 250px;
    height: 60px;*/
    left: 1050px;
    top: 20px;
    /* background-color: #bead8e;  */

    /* font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
  
    color: #ffffff; */
  }

  .rectangle18 {
    width: 500px;
    height: 610px;
    margin-left: 950px;
    margin-top: 50px;
  }

  .aboutUs {
    margin-left: 50px;
  }

  .discover {
    margin-left: 50px;
  }

  .lorem {
    margin-left: 50px;
  }
  .book {
    margin-left: 50px;
  }

  .team {
    position: absolute;
    top: 1070px;
    left: 270px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: #ffffff;
    box-shadow: 0px 0px 8px 5px rgba(34, 34, 34, 0.05);
    width: 270px;
    height: 300px;
  }

  .teamIcon {
    /* position: relative; */
    left: 100px;
  }

  .strong {
    /* position: relative; */

    left: 60px;
  }

  .ipsum {
    /* position: relative; */

    left: 35px;
  }

  .resort {
    position: absolute;
    top: 1070px;
    left: 600px;
  }

  .luxury {
    position: absolute;
    top: 1400px;
    left: 270px;
  }

  .luxuryRoom {
    position: absolute;
    top: 1400px;
    left: 600px;

    box-shadow: 0px 0px 8px 5px rgba(34, 34, 34, 0.2);
  }

  .pikedRooms {
    position: absolute;
    top: 1850px;
    /* left: 600px; */
  }

  .rooms {
    margin-left: 500px;
  }

  .hand {
    width: 660px;
    margin-left: 330px;
  }

  .roomsIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2000px;
    left: 560px;
  }

  .photos {
    position: absolute;
    width: 770px;
    height: 500px;
    left: 320px;
    top: 2050px;
  }

  .slice {
    width: 770px;
    height: 500px;
    /* top: 300px; */
  }

  .b-slice {
    margin-left: -100px;
    margin-top: 100px;
  }

  .b-slice-b {
    margin-left: 480px;
    margin-top: 100px;
  }

  .rectangle23 {
    position: absolute;
    width: 690px;
    height: 172px;
    left: 360px;
    top: 2500px;

    background-color: #ffffff;
  }

  .latin {
    width: 437px;
    height: 57.97px;
  }

  .night {
    position: absolute;
    top: 50px;
    left: 350px;
  }

  .meet {
    height: 700px;
    position: absolute;
    top: 2700px;
  }

  .video {
    margin-left: 200px;
  }

  .meetWith {
    margin-left: 200px;
    width: 492px;
    margin-bottom: 0px;
  }

  .loremIpsum {
    margin-top: -50px;
    margin-left: 200px;
    width: 485px;
  }

  video {
    width: 570px;
    height: 460px;
    position: absolute;
    margin-left: 800px;
    margin-top: -460px;
  }

  .book-now {
    margin-top: -350px;
    margin-left: 200px;
  }

  .facilities {
    position: absolute;
    width: 103px;
    height: 15px;
    left: 640px;
    top: 3450px;
  }

  .core {
    position: absolute;
    width: 457px;
    height: 80px;
    left: 530px;
    top: 3460px;
  }

  .rating {
    position: absolute;
    left: 150px;
    width: 1200px;
    height: 500px;
    background-color: yellow;
    top: 3650px;
  }

  .ceroOneOne {
    width: 143px;
    height: 130px;
  }

  .hand {
    width: 60px;
    height: 60px;
  }
}
